.list {
  display: flex;
  gap: 28px;
  padding: 40px 20px;
  margin: 0 auto;
  list-style: none;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1100px;
  box-sizing: border-box;
}

.item {
  margin: 0;
  display: flex;
  justify-content: center;
}
