.table {
  width: 100%;
  max-width: 1015px;
  margin: auto;
  border-collapse: collapse;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial;
}

.table thead th {
  background-color: #2a2a2a;
  color: #fff;
  padding: 10px 12px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  border: 1px solid #111;
}

.table tbody td {
  border: 2px solid #111;
  padding: 10px 12px;
  text-align: center;
  font-size: 20px;
  color: #111;
}

.table tbody td:first-child {
  text-transform: capitalize;
  text-align: center;
  padding-left: 16px;
}

.table tbody td:nth-child(2) {
  text-align: center;
  font-variant-numeric: tabular-nums;
}

.table tbody tr:nth-child(even) {
  background-color: #b7b7b7;
}

@media (max-width: 600px) {
  .table {
    width: calc(100% - 24px);
    margin: 12px;
  }
  .table thead th {
    font-size: 16px;
    padding: 8px;
  }
  .table tbody td {
    font-size: 14px;
    padding: 8px;
  }
}
