:root {
  --page-bg: #ffffff;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #f6f6f6; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
}
